
controladores/__pycache__/interfaz_controller.cpython-312.pyc
controladores/__pycache__/interfaz_controller.cpython-312.pyc
controladores/__pycache__/ventana2_controller.cpython-312.pyc
controladores/__pycache__/interfaz_controller.cpython-312.pyc
controladores/__pycache__/ventana2_controller.cpython-312.pyc
interfaces/__pycache__/ui_ventana2.cpython-312.pyc
*.pyc
interfaces/__pycache__/ui_archivo3.cpython-312.pyc
interfaces/__pycache__/ui_archivo3.cpython-312.pyc
interfaces/__pycache__/ui_interfaz.cpython-312.pyc
